<h1>Subject Details</h1>
{% if student_subject_info %}
<div class="details">
    <h4>Subject: {{ student_subject_info[2] }}</h4>
    <p><strong>Total Classes:</strong> {{ student_subject_info[5] }}</p>
    <p><strong>Classes Attended:</strong> {{ student_subject_info[6] }}</p>
    <p><strong>Classes Missed:</strong> {{ student_subject_info[7] }}</p>
    <p><strong>Attendance Percentage:</strong> {{ student_subject_info[8] }}%</p>
    <h5>Professor: {{ student_subject_info[4] }}</h5>
</div>

<form action="{{ url_for('upload_image', id=student_subject_info[1], subject_id=student_subject_info[3]) }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="professor-image">Upload Professor's Image for Attendance:</label>
        <input type="file" id="professor-image" name="professor-image" required>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form-group">
        <input type="submit" value="Mark Attendance">
    </div>
</form>
{% else %}
<p>No information available for this subject.</p>
{% endif %}
